<h1>Редактировать учебный день.</h1>
<% form_for([@school_class,@learning_day]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Дата' %><br />
    <%= f.date_select :date %>
  </p>
 
  <p>
    <%= f.submit 'Отправить' %>
  </p>
<% end %>

<%= link_to 'Все учебные дни', school_class_learning_days_path(@school_class) %>

<%= link_to 'Показать', school_class_learning_day_path(@school_class, @learning_day) %>
