<h1>Учебные курсы (предметы)</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.name %></td>
    <td><%= link_to 'Показать', course %></td>
    <td><%= link_to 'Изменить имя', edit_course_path(course) %></td>
    <td><%= link_to 'Удалить', course, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать новый курс', new_course_path %>