<h1>Шаблоны учебных дней для &quot;<%=@school_class.number.to_s %><%=@school_class.letter %>&quot; класса</h1>

<table>
  <tr>
    <th>Наименование</th>
  </tr>

<% @day_templates.each do |day_template| %>
  <tr>
    <td><%=h day_template.name %></td>
    <td><%= link_to 'Посмотреть', school_class_day_template_path(@school_class, day_template) %></td>
    <td><%= link_to 'Редактировать', edit_school_class_day_template_path(@school_class, day_template) %></td>
    <td><%= link_to 'Удалить', school_class_day_template_path(@school_class, day_template), :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый шаблон', new_school_class_day_template_path %>